fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
python-pptx
pymupdf
pytesseract
pillow
keybert
fpdf2
python-docx
python-dotenv
uuid
openai>=1.0.0
google-genai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
